:root {
    --line-height-title: 30px;
}
.container {
    .wrapper {
        .collection-banner {
            width: 100%;
            height: 44rem;
        }
        .collection-title {
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: var(--line-height-title);
            margin: 40px 15px 25px;
            text-align: center;
            text-transform: uppercase;
        }
        .content {
            padding: 0 80px;
            letter-spacing: 1px;
            line-height: 21px;
            color: var(--primary);
            display: flex;
            width: 100vw;
            overflow: hidden;
            .collection-sidebar {
                flex-basis: 25%;
                transition: all 0.4s linear;
                padding: 120px 0 117px 5px;
                width: 100%;
                overflow: hidden;
                &.active {
                    flex-basis: 0;
                    transform: translateX(-500px);
                }
                .title-filter {
                    margin-bottom: 16px;
                    line-height: var(--line-height-title);
                    letter-spacing: 4px;
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                .sort-by-filter {
                    margin-bottom: 20px;
                    transition: height 0.4s linear;
                    height: var(--line-height-title);
                    .sort-list {
                        li {
                            display: flex;
                            align-items: center;
                            text-align: left;
                            input[type='radio'] {
                                font-size: 14px;
                                margin-right: 16px;
                                cursor: pointer;
                            }
                            label {
                                text-transform: capitalize;
                                padding: 14px 14px 14px 0;
                                margin: 2px 0;
                                cursor: pointer;
                            }
                        }
                    }
                    &.open {
                        height: 310px;
                    }
                }

                .filter-collection-item-list {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 21px;
                    .filter-collection-item {
                        &:not(:last-child) {
                            border-bottom: 1px solid #f7f8f9;
                        }
                        padding: 20px 0;
                        margin-bottom: 2px;
                        &.gender-filter {
                            transition: height 0.4s linear;
                            height: calc(21px + 40px);
                            &.open {
                                height: 110px;
                                // height: 100%;
                            }
                        }
                    }
                }
                .content-filter {
                    height: 0;
                    transition: height 0.4s linear;
                    overflow: hidden;
                    &.open {
                        height: 100%;
                    }
                }
            }
            .collection-right {
                flex-basis: 75%;
                padding-left: 6rem;
                transition: all 0.4s linear;
                display: flex;
                width: 100%;
                flex-direction: column;
                .collection-outer-heading {
                    padding: 15px 0;
                    .collection-inner-heading {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .btn-filter-collection {
                            display: flex;
                            button {
                                background-color: #f7f8f9;
                                padding: 13px 20px;
                                border-radius: 30px;
                                display: flex !important;
                                align-items: center !important;
                                font-size: 14px;
                                text-transform: none;
                                font-weight: 500;
                                min-width: 0;
                                .hide-btn {
                                    margin-left: -8px;
                                }
                            }
                        }
                    }
                }
                .collection-list {
                    padding: 15px 0 60px;
                    display: grid;
                    gap: 40px 10px;
                    transition: all 0.5s ease-in-out;
                    grid-template-columns: repeat(3, 1fr);
                }
                &.active {
                    width: 100%;
                    flex-basis: 100%;
                    padding-left: 0;
                }
                &.active > .collection-list {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
}
