.input-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 16px;
    // margin-top: 16px;
    .input-label {
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 14.5px;
        margin: 0 0 8px;
        text-transform: uppercase;
    }
    .input {
        position: relative;
        input {
            width: 100%;
            border: 1px solid #868d95;
            border-radius: 2px;
            background-color: #ffffff;
            font-size: 14px;
            line-height: 14px;
            transition: all 0.2s ease-in-out;
            padding: 15px;
            letter-spacing: 2px;
            &:placeholder-shown {
                text-transform: capitalize;
            }
            &:focus {
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
            }
        }
        .icon-eye {
            display: none;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            &.disabled {
                cursor: text;
                opacity: 0.4;
            }
        }
        .message-error {
            position: absolute;
            font-size: 12px;
            color: #e24c4c;
            right: 0;
            bottom: -20px;
        }
        .message-error.error + input {
            transition: all 0.2s ease-in-out;
            border-color: #e24c4c;
            box-shadow: 0px 0px 4px 0px #e24c4c;
        }
    }
}
.checkbox {
    input {
        color: red;
        font-size: 20px;
    }
    input[type='checkbox']:checked {
        background-color: red;
        color: red;
    }
    label {
        cursor: pointer;
        margin-left: 8px;
    }
    input[type='checkbox']::before {
        /* ...existing styles */

        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
}
.checkbox {
    margin-top: 16px;
    display: flex;
    align-items: center;
    label {
        font-family: Helvetica;
        letter-spacing: 1px;
        margin: 0;
    }
    @keyframes pop {
        0% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        100% {
            transform: scale(1.2);
        }
    }

    input {
        display: none;
    }
    input + label span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px -4px 0;
        margin-right: 10px;
        &:before,
        &:after {
            // @include transition(all 0.3s ease-in-out);
            transition: all 0.3s ease-in-out;
            content: '';
            position: absolute;
            display: flex;
            align-items: center;
            z-index: 1;
            width: 18px;
            height: 18px;
            background: transparent;
            border: 2px solid var(--primary);
        }
        &:after {
            z-index: 0;
            border: none;
        }
    }
    input:checked + label span {
        &:before {
            display: flex;
            align-items: center;
            animation: pop 0.3s ease;
            z-index: 100;
            background: var(--primary);
        }
    }
}
