.container {
    margin-bottom: 20px;
    display: flex;
    input[type='checkbox'] {
        margin-right: 15px;
        &:checked {
            border: none;
            outline: 2px solid var(--primary);
        }
    }
    input:checked {
        outline: 2px solid var(--primary);
        border: none;
    }
    .image-wrapper {
        img {
            width: 100px;
            height: 140px;
        }
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 5px;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .brand {
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
            }
            .close {
                letter-spacing: 1px;
                font-size: 14px;
                cursor: pointer;
            }
        }
        .product-name {
            font-weight: 400;
            margin-bottom: 10px;
            letter-spacing: 1px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            &.item-cart {
                -webkit-line-clamp: 1;
                font-size: 12px;
            }
        }
        .product-price {
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            .price {
                font-size: 12px;
                font-weight: 700;
                margin-right: 5px;
            }
            del {
                font-size: 12px;
                margin-left: 5px;
                display: none;
            }
            &.hasSale > .price {
                background-color: #faff19;
                font-size: 14px;
                padding: 5px 10px;
            }
            &.hasSale > del {
                display: block;
            }
        }
        .variant-select {
            display: flex;
            align-items: flex-start;
            font-size: 12px;
            justify-content: space-between;
            letter-spacing: 1px;
            padding-top: 0;
            .product-variant-color {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex: 1;
                margin: 10px 0 0;
            }
            .product-variant-size {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex: 1;
                margin: 10px 0 0;
                select {
                    width: 100%;
                    padding: 5px;
                    font-size: 12px;
                    border: 1px solid #767676;
                    border-radius: 2px;
                }
            }
        }
        .product-actions {
            font-size: 12px;
            margin-top: 10px;
        }
        .product-quantity {
            margin-top: 5px;
            display: flex;
            .input-number {
                display: flex;
                align-items: center;
                border: 1px solid #868d95;
                border-radius: 2px;
                min-width: 42px;
                height: 40px;
                .btn-quantity {
                    width: 40px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    background-color: #fff;
                }
                .input-quantity {
                    width: 25px;
                    max-height: 40px;
                    font-size: 12px;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
    }
}
