@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,600;0,700;0,800;1,600;1,700&display=swap');
@import url('https://rsms.me/inter/inter.css');

:root {
    --primary: #2e2e2e;
    --secondary: #fe8ce5;
    --default-layout-header-height: 56px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --black: #000;
    --text-color: #161823;
    --white: #fff;
    --red: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--primary);
    overflow-y: overlay;
}
@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}
// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
}
img {
    object-fit: cover;
}
// Custom tippy tooltip
body {
    .tippy-box {
        height: 38px;
        border: radius 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(82, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(82, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.fd-column {
    flex-direction: column;
}
.d-none {
    display: none !important;
}
