.container {
    width: 100vw;
    display: flex;
    &-fluid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 80px;
        width: 100%;
        gap: 24px;
        height: 100%;
        .feature-item {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 100%;
            .feature-img {
                .lazyloaded {
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
            }
            .trademark {
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1px;
                margin: 15px 0 5px;
                text-align: center;
                text-transform: uppercase;
            }
            .name-product {
                font-size: 18px;
                text-align: center;
                line-height: 24px;
            }
            .banner-product {
                display: flex;
                .banner-img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
