.slick-track {
    display: flex;
}
.slide-image-product.slick-slider .slick-slide {
    margin: 0 5px;
}
.btn-arrow-product-slide.btn-arrow {
    width: 4rem;
    height: 4rem;
}
.btn-arrow-product-slide.btn-next {
    right: 2rem;
}
.btn-arrow-product-slide.btn-prev {
    left: 2rem;
}
