.social-footer {
    color: var(--primary);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 20px 0;
    width: 100%;
    .container-fluid {
        padding: 0 80px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .social-links {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 30px;
                .line {
                    width: 2px;
                    height: 20px;
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.3);
                }
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 160px;
    background-color: var(--primary);
    .container {
        color: #777777;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 60px 45px 15px;
        .footer-main_left {
            width: 100%;
            display: flex;
            color: #ffffff;
            justify-content: center;
            .col-3 {
                height: 100%;
                flex-basis: 25%;
                .footer-main__menu-title {
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 3px;
                    margin: 0 0 10px;
                    text-transform: uppercase;
                }
                .footer-main__menu-links {
                    li {
                        display: list-item;
                        font-size: 14px;
                        letter-spacing: 1px;
                        text-align: left;
                        line-height: 20.3px;
                        padding: 10px 0;
                        a {
                            color: #ffffff;
                            letter-spacing: 2px;
                            font-size: 12px;
                            line-height: 17px;
                            margin: 0 0 25px;
                            text-align: left;
                            img {
                                width: 150px;
                                height: 57px;
                            }
                        }
                    }
                }
                &:last-child {
                    flex-basis: 12%;
                }
            }
        }
        .footer-main_copy-right {
            color: #c4c4c4;
            display: flex;
            font-size: 10px;
            flex-direction: column;
            letter-spacing: 1px;
            line-height: 15px;
            text-align: center;
            margin-top: 30px;
        }
    }
}
