.wrapper {
    margin: 40px 0;
    .container {
        display: flex;
        .col-3 {
            flex: 4;
            background-color: #f7f8f9;
            border-radius: 20px;
            .account-avatar {
                padding: 30px 0 32px 0;
                position: relative;
                .avatar {
                    position: relative;
                    width: 12rem;
                    height: 12rem;
                    background-color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    .avatar-name {
                        line-height: 120px;
                        font-size: 64px;
                        font-weight: bold;
                    }
                    .img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .name {
                    margin-top: 24px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 24px;
                    letter-spacing: 2px;
                    padding: 0 24px;
                }
                &::after {
                    content: ' ';
                    position: absolute;
                    height: 4px;
                    background-color: #fff;
                    bottom: 0;
                    left: 5%;
                    width: 90%;
                }
            }
            .sidebar__list {
                padding: 42px 20px 17px 20px;
                transition: all 0.15s ease;
                .sidebar__item {
                    padding: 14px 0 14px 27px;
                    white-space: nowrap;
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    &.active {
                        background-color: white;
                    }
                    cursor: pointer;
                }
            }
        }
        .col-9 {
            flex: 9;
            .account-info {
                padding-left: 8rem;
                .account-page-title {
                    font-size: 24px;
                    letter-spacing: 4px;
                    color: var(--primary);
                    text-transform: uppercase;
                }
                .form {
                    width: 600px;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                }
                .action {
                    margin-bottom: 50px;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                }
                .btn {
                    width: max-content;
                    min-width: 36rem;
                }
            }
        }
    }
}
