.container {
    background-color: white;
    height: 100%;
    width: 100%;
    padding-right: 20px;
    .wrapper {
        &:hover > .banner-product > .outer-product-color {
            height: calc(100% + 1.8rem);
            opacity: 1;
        }
        .product-img {
            position: relative;
            height: 100%;
            cursor: pointer;
            .img {
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                transition: all 0.5s ease-in-out;
                height: 100%;
                opacity: 0;
                &.is-cached {
                    opacity: 1;
                }
                &.lazyloaded {
                    position: absolute;
                }
            }
            .discount {
                position: absolute;
                top: 14px;
                left: 0;
                background-color: #000000;
                color: #ffffff;
                font-size: 12px;
                font-weight: 700;
                padding: 3px 6px;
                cursor: default;
            }
            .wishlist {
                position: absolute;
                top: 14px;
                right: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                &.active > .heart {
                    display: none;
                }
                &.active > .heart-active {
                    display: block;
                }
                .heart,
                .heart-active {
                    transition: all 2s ease-in-out;
                }
                .heart-active {
                    display: none;
                }
            }
        }
        .banner-product {
            width: 100%;
            height: 100%;
            position: relative;
            .banner-img {
                width: 100%;
                height: 100%;
            }
            .outer-product-color {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.4);
                height: 0;
                transition: all 0.3s ease-in-out;
                display: flex;
                padding: 8px;
                gap: 8px;
                opacity: 0;
                .product-color-loop {
                    display: flex;
                    border: 1px solid transparent;
                    border-radius: 6px;
                    height: 100%;
                    width: 58px;
                    overflow: hidden;
                    cursor: pointer;
                    .product-color-img {
                        width: 100%;
                        height: 100%;
                    }
                    &:hover {
                        border-color: var(--primary);
                    }
                    &.active {
                        border-color: var(--primary);
                    }
                }
            }
        }
        .trademark-name {
            font-weight: 700;
            line-height: 24px;
            margin: 10px 0;
            text-transform: uppercase;
            cursor: pointer;
        }
        .product-name {
            min-height: 48px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            cursor: pointer;
            overflow: hidden;
        }
        .quantity-color {
            margin-bottom: 20px;
            display: block;
        }
        .product-price {
            .price {
                font-weight: 700;
                line-height: 24px;
                padding: 5px;
                &.hasSale {
                    background-color: #faff19;
                }
            }
            del {
                line-height: 14px;
                margin-left: 12px;
            }
        }
        .td-underline {
            text-decoration: underline;
        }
    }
}
