.container {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 85%;
    z-index: 999;
    text-align: center;
    .nav-logo {
        position: absolute;
        top: 1rem;
        left: 8rem;
    }
    .wrapper {
        margin: 0 auto;
        width: var(--default-layout-width);
        background-color: aqua;
        .search-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-input {
                flex: 2;
                text-align: center;
                width: 100%;
                .search {
                    display: flex;
                    background-color: red;
                    align-items: center;
                    width: 100%;
                    padding: 0;
                    justify-content: center;
                    align-items: stretch;
                    .search-icon {
                        background-color: blue;
                        display: flex;
                        align-items: center;
                    }
                    .search-input {
                        display: flex;
                        background-color: black;
                        // justify-content: center;
                        padding: 0;
                        flex-direction: column;
                        flex: 1;
                        .input {
                            position: relative;
                            top: -20px;
                        }
                    }
                }
            }
            .nav-close {
                flex: 1;
                .close {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
        }
    }
}
